<!-- https://ejs.co -->
<div class="buttons">
  <div class="buttons__line">
    <a class="github-button"
       href="https://github.com/goodvir"
       data-size="large"
       aria-label="Follow @goodvir on GitHub">Follow</a>
    <a class="github-button"
       href="https://github.com/goodvir/fastify-box"
       data-icon="octicon-star"
       data-size="large"
       aria-label="Star goodvir/fastify-box on GitHub">Star</a>
  </div>
  <div class="buttons__line">
    <a class="github-button"
       href="https://github.com/goodvir/fastify-box/archive/master.zip"
       data-icon="octicon-download"
       data-size="large"
       aria-label="Download goodvir/fastify-box on GitHub">Download</a>
    <a class="github-button"
       href="https://github.com/goodvir/fastify-box/issues"
       data-icon="octicon-issue-opened"
       data-size="large"
       aria-label="Issue goodvir/fastify-box on GitHub">Issue</a>
  </div>
</div>
